<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.speedshare.cordova.htmlviewer"
    version="1.0.0">

    <name>SpeedshareCordovaPlugin</name>
    <description>Add html viewer to your Cordova Application</description>
    <license>Apache 2.0</license>
    <keywords>Speedshare</keywords>

    <js-module src="www/speedshareHtmlviewer.js" name="speedshare">
      <clobbers target="com.speedshare.cordova.htmlviewer" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
      <header-file src="src/ios/htmlViewerPlugin.h" />
      <source-file src="src/ios/htmlViewerPlugin.m" />

      <framework src="WebKit.framework" />

      <!-- Adopts project's config.xml to include the SpeedshareCordovaPlugin and domain whitelists -->

      <config-file target="config.xml" parent="/*">
          <feature name="SpeedsharePlugin">
              <param name="ios-package" value="SpeedsharePlugin"/>
          </feature>
      </config-file>
      <config-file target="config.xml" parent="/*">
        <access origin="*" />
      </config-file>
    </platform>
</plugin>
